@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Sobre-Nos</h1>
                <p class="lead text-muted mb-0">Conheça Nossos Criadores</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block "><img src="~/Imagens/SobreNos.jpg" style="width: 1000px" alt="" class="img-fluid container-personalizado"></div>
        </div>
    </div>
</div>

<div class="bg-light py-0">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Nosso Time</h2>
                <p class="font-italic text-muted">Criadores Do Nosso Projeto.</p>
            </div>
        </div>

        <div class="row text-center mx-auto justify-content-center">
            <!-- Team item-->
            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/Imagens/guguti.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Gabriel Gutierri</h5><span class="small text-uppercase text-muted">082200014</span>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/Imagens/eu_mio.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">José Honorio</h5><span class="small text-uppercase text-muted">082200039</span>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100"  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Rodrigo Adamo</h5><span class="small text-uppercase text-muted">082200024</span>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/Imagens/Vinicius.jpeg" alt="" width="100"  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Vinícius Afonso</h5><span class="small text-uppercase text-muted">082200006</span>
                </div>
            </div>
            <!-- End-->

            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/Imagens/ATUALIZADA.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Gabriel Foramilio</h5><span class="small text-uppercase text-muted">082200018</span>
                </div>
            </div>

        </div>
    </div>
</div>

