<div div class="container mt-5  pt-5">
    <h2 class="mb-3">Cadastrar Aluno</h2>
    <form class="form-group">
        <!--Código e senha gerados automaticamente-->
        <input type="hidden" name="alunoCodigo" />
        <input type="hidden" name="alunoSenha" />
        <label for="alunoNome">Nome</label>
        <input type="text" name="alunoNome" class="form-control campo-personalizado" />
        <label for="alunoEmail">Email</label>
        <input type="email" name="alunoEmail" class="form-control campo-personalizado" />
        <label for="alunoTelefone">Telefone</label>
        <input type="number" name="alunoTelefone" class="form-control campo-personalizado" />
        <label for="alunoCpf">CPF</label>
        <input type="text" name="alunoCpf" class="form-control campo-personalizado" />
        <label for="alunoTurma">Turma</label>
        <select name="alunoTurma" class="form-control campo-personalizado"> </select>
        <br />

        <input type="submit" value="Cadastrar" class="btn btn-success botao-personalizado" />

    </form>
</div>