@model AlunoViewModel
@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}

<div div class="container mt-5  pt-5">
    <h2 class="mb-3">Cadastrar Aluno</h2>
    <form class="form-group" method="post" action="/Aluno/Save">
        <!--Código e senha gerados automaticamente-->
        <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
        <input type="hidden" name="Id" value="@Model.ID"/>
        <label for="Nome">Nome</label>
        <input asp-for="Nome" class="form-control campo-personalizado" />
        <label for="Email">Email</label>
        <input asp-for="Email" class="form-control campo-personalizado" />
        <label for="Telefone">Telefone</label>
        <input asp-for="Telefone" class="form-control campo-personalizado" />
        <label for="Cpf">CPF</label>
        <input asp-for="Cpf" class="form-control campo-personalizado" />
        
        <input type="submit" value="Cadastrar" class="btn btn-success botao-personalizado" />

    </form>
</div>

