<div div class="container mt-5  pt-5">
    <h2 class="mb-3">Cadastrar Matéria</h2>
    <form class="form-group">
        <!--Código gerado automaticamente-->
        <input type="hidden" name="materiaCodigo" />
        <label for="materiaDescricao">Descrição</label>
        <textarea name="materiaDescricao" class="form-control campo-personalizado">

        </textarea>
        <label for="materiaCargaHoraria">Carga Horaria</label>
        <input type="text" name="materiaCargaHoraria" class="form-control campo-personalizado" />
        <br />

        <input type="submit" value="Cadastrar" class="btn btn-success botao-personalizado" />

    </form>
</div>