@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid pt-md-5 imagemPrincipal">
    <div class="container mt-5 pt-5">
        <div class="text-center text-white">
            <h1>Sistema Acadêmico</h1>
            <hr class="menu-divider" />
        </div>
    </div>
</div>
<div class="container">
    <div class="m-5">
        <h3 class="m-5 text-center">Biometria</h3>
        <img class="imagemTamanho float-left mb-2" src="/Imagens/fingerprints.jpg" />
        <p class="textoTamanho">
            As principais vantagens da biometria são: <br />
            -   Com ela a vida se torna mais prática, pois não é necessário guardar uma senha,
            assim como não é necessário ficar carregando algum tipo de objeto, como por exemplo: tags, cartões,
            pulseiras e etcéteras.<br />
            -   A biometria representa segurança, já que podemos ligar essa informação a um indivíduo específico, dificultando fraudes
            e garantindo a veracidade da identidade do usuário. <br />
            -   Possui uma alta precisão e garante mais conforto, praticidade e rapidez em todo o processo, o que reduz filas e facilita a vida
            das pessoas.

        </p>
    </div>
</div>