@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid pt-md-5 imagemPrincipal">
    <div class="container mt-5 pt-5">
        <div class="text-center text-white">
             <h1>Sistema Acadêmico</h1>
             <hr class="menu-divider"/>
        </div>
    </div>
</div>
<div class="container">
    <div class="m-5">
        <h3 class="m-5 text-center">Biometria</h3>
        <img class="imagemTamanho float-left mb-2" src="/Imagens/fingerprints.jpg" />
        <p>
            Lorem ipsum dolor sit amet. Rem maxime laboriosam quo dolorem excepturi sed delectus molestiae aut excepturi sunt quo voluptatem internos 
            et amet necessitatibus quo esse distinctio. In fugit odio ut enim dolores aut sint repellat.

            Qui similique saepe aut doloremque Quis qui saepe autem ut quasi numquam At reiciendis ipsam aut pariatur itaque vel ipsa aliquam! Aut maiores 
            incidunt qui temporibus laudantium qui aperiam unde sed modi omnis ad obcaecati optio non sint illum et temporibus tempore. Et rerum neque eum 
            necessitatibus veniam ea dolores corporis ex sint facilis et esse autem.
            Nam vero voluptas et quia consequatur eum quod soluta et eveniet consequuntur et officia maxime? At explicabo eaque eos quasi odio At eius dolor obcaecati ratione.

            Ab quia repudiandae eos internos debitis At cumque quos et veniam perferendis sit cumque fugit ab architecto repudiandae qui distinctio quia. Sit saepe quis et voluptatem 
            fuga qui incidunt quia aut libero voluptas.
        </p>
    </div>

    <div class="m-5">
        <h3 class="m-5 text-center d-block">Dados salvos na nuvem</h3>
        <img class="imagemTamanho float-right mb-2" src="/Imagens/serverImage.png" />
        <p>
            Lorem ipsum dolor sit amet. Rem maxime laboriosam quo dolorem excepturi sed delectus molestiae aut excepturi sunt quo voluptatem internos
            et amet necessitatibus quo esse distinctio. In fugit odio ut enim dolores aut sint repellat.

            Qui similique saepe aut doloremque Quis qui saepe autem ut quasi numquam At reiciendis ipsam aut pariatur itaque vel ipsa aliquam! Aut maiores
            incidunt qui temporibus laudantium qui aperiam unde sed modi omnis ad obcaecati optio non sint illum et temporibus tempore. Et rerum neque eum
            necessitatibus veniam ea dolores corporis ex sint facilis et esse autem.
            Nam vero voluptas et quia consequatur eum quod soluta et eveniet consequuntur et officia maxime? At explicabo eaque eos quasi odio At eius dolor obcaecati ratione.

            Ab quia repudiandae eos internos debitis At cumque quos et veniam perferendis sit cumque fugit ab architecto repudiandae qui distinctio quia. Sit saepe quis et voluptatem
            fuga qui incidunt quia aut libero voluptas.
        </p>
    </div>

</div>