@using TrabalhoInterdisciplinar.Enumeradores
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Toast-->
<span id="AlertMessage" class="d-none">@TempData["AlertMessage"]</span>

<div aria-live="polite" aria-atomic="true" style="position: relative;">
    <div class="toast container-personalizado bg-danger" data-delay="6000" style="width: 435px; max-width: 450px;">
        <div class="toast-delete text-white bg-danger ml-1">
            <strong class="mr-auto">@TempData["AlertMessage"]</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="container mt-5 pt-5">
    <fieldset id="areaFiltro" class="form-group fieldset-personalizado">
        <legend>Listagens</legend>
        <div class="row justify-content-between">
            <div class="col-9">
                <div class="col-lg-6 d-inline-block">
                    <label for="codigo" class="mt-1">Código</label>
                    <input type="number" id="codigo" class="form-control campo-personalizado" />
                </div>
                <div class="col-lg-4 d-inline-block">
                    <label for="tipoTabela" class="mt-1 ">Tabela</label>
                    <select id="tipoTabela" class="form-control campo-personalizado" asp-items="Html.GetEnumSelectList<EnumTipoTabela>()"></select>
                </div>
            </div>
            <div>
                <br />
                <input type="button" id="btnFiltro" class="btn btn-success botao-personalizado mr-4 " value="Aplicar"
                       onclick="aplicaFiltroConsultaAvancadaListagem()" />
            </div>
        </div>
    </fieldset>

    <div id="resultadoConsulta" class="table-responsive mt-3">
    </div>

</div>

<!-- Modal Login -->
<div class="modal fade" id="loginImage" tabindex="-1" role="dialog" aria-labelledby="loginImageLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="myImage" style="width: 100%; object-fit: cover;" class="img-responsive"  src="" alt="">
            </div>
        </div>
    </div>
</div>


