@using TrabalhoInterdisciplinar.Enumeradores
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Toast-->
<span id="AlertMessage" class="d-none">@TempData["AlertMessage"]</span>

<div aria-live="polite" aria-atomic="true" style="position: relative;">
    <div class="toast container-personalizado bg-danger" data-delay="6000" style="width: 435px; max-width: 450px;">
        <div class="toast-delete text-white bg-danger ml-1">
            <strong class="mr-auto">@TempData["AlertMessage"]</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 pt-5">
    <div class="row">
        <div class="col-md-2">
            <fieldset id="areaFiltro" class="form-group fieldset-personalizado">
                <legend>Listagens</legend>
                <div class="mt-2">
                    <label for="codigo" class="mt-1">Código</label>
                    <input type="number" id="codigo" class="form-control campo-personalizado" />
                </div>
                <div class="mt-2">
                    <label for="tipoTabela" class="mt-1 ">Tabela</label>
                    <select id="tipoTabela" class="form-control campo-personalizado" asp-items="Html.GetEnumSelectList<EnumTipoTabela>()"></select>
                </div>
                <div class="mt-4 d-flex justify-content-center">
                    <br />
                    <input type="button" id="btnFiltro" class="btn btn-success botao-personalizado mx-auto" value="Aplicar"
                           onclick="aplicaFiltroConsultaAvancadaListagem()" />
                </div>

            </fieldset>
        </div>
        <div id="resultadoConsulta" class="table-responsive mt-3 mx-auto col-md-8">
        </div>
    </div>
</div>

<!-- Modal Login -->
<div class="modal fade" id="loginImage" tabindex="-1" role="dialog" aria-labelledby="loginImageLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="myImage" style="width: 100%; object-fit: cover;" class="img-responsive"  src="" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const ctx = document.getElementById('myChart');
   

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Quantidade de Dados Cadastrados'],
            datasets: [{
                label: 'Aluno',
                data: [@ViewBag.Aluno],
                borderWidth: 1,
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderRadius: 5,
                borderColor: 'rgba(255, 99, 132, 1)'
                
            },
            {
                label: 'Professor',
                data: [@ViewBag.Professor],
                borderWidth: 0.5,
                backgroundColor: 'rgba(255, 159, 64, 0.5)',
                borderRadius: 5,
                borderColor: 'rgba(255, 159, 64, 1)'
            },
            {
                label: 'Materia',
                data: [@ViewBag.Materia],
                borderWidth: 0.5,
                backgroundColor: 'rgba(153, 102, 255, 0.5)',
                borderRadius: 5,
                borderColor: 'rgba(153, 102, 255, 1)'
            },
            {
                label: 'Aula',
                data: [@ViewBag.Aula],
                borderWidth: 0.5,
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderRadius: 5,
                borderColor: 'rgba(54, 162, 235, 1)'
            }]
        },
        options: {
            scales: {
                y: {
                    min: 0,
                    max: 25,
                }
            }
        }
    });
</script>




