@using TrabalhoInterdisciplinar.Enumeradores
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 pt-5">
    <fieldset id="areaFiltro" class="form-group fieldset-personalizado">
        <legend>Listagens</legend>
        <div class="row justify-content-between">
            <div class="col-9">
                <div class="col-lg-6 d-inline-block">
                    <label for="codigo" class="mt-1">Código</label>
                    <input type="number" id="codigo" class="form-control campo-personalizado" />
                </div>
                <div class="col-lg-4 d-inline-block">
                    <label for="tipoTabela" class="mt-1 text-">Tabela</label>
                    <select id="tipoTabela" class="form-control campo-personalizado" asp-items="Html.GetEnumSelectList<EnumTipoTabela>()"></select>
                </div>
            </div>
            <div>
                <br />
                <input type="button" id="btnFiltro" class="btn btn-success botao-personalizado mr-4" value="Aplicar"
                       onclick="aplicaFiltroConsultaAvancada()" />
            </div>
        </div>
    </fieldset>

    <div id="resultadoConsulta" class="table-responsive mt-3">
    </div>

</div>

<!-- Modal Login -->
<div class="modal fade" id="loginImage" tabindex="-1" role="dialog" aria-labelledby="loginImageLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="myImage" class="img-responsive"  src="" alt="">
            </div>
        </div>
    </div>
</div>

<script>

    function aplicaFiltroConsultaAvancada() {
        var vCodigo = document.getElementById('codigo').value;
        var vtipoTabela = document.getElementById('tipoTabela').value;
        $.ajax({
            url: "/ConsultaListagens/ObtemDadosConsultaAvancada",
            data: { codigo: vCodigo, tipoTabela: vtipoTabela },
            success: function (dados) {
                if (dados.erro != undefined) {
                    alert(dados.msg);
                }
                else {
                    document.getElementById('resultadoConsulta').innerHTML = dados;
                }
            },
        });

    }
</script>


<script>
    $(document).on("click", ".openImageDialog", function () {
        console.log('Ok');
        var myImageId = $(this).data('id');
        $(".modal-body #myImage").attr("src", myImageId);
    });
</script>