* {
    font-family: 'Jost', sans-serif;
}


.field-validation-error {
    font-size: smaller;
}

.input-validation-error {
    border: 1px solid #ff0000;
}

.mesmoTamanho{
    width: 88px;
}

.botao-header{
    border-radius: 30px;
    width: 100%;
}

.modal-footer {
    padding: 16px 0 0 0;
    justify-content: center;
}

.botao-personalizado-login {
    width: 200px;
    border-radius: 30px;
}

.escondeSenha {
    margin-left: -35px;
    cursor: pointer;
}

.cursor-especial{
    cursor: pointer;
}

.alerta-login {
    font-size: smaller;
}

.navbar-personalizada {
    background-color: rgba(248, 249, 250, 1)
}

.nav-personalizado {
    line-height: 1;
    margin-top: 0.5rem;
}

.nav-personalizado::after {
    display: inline-block;
    content: "";
    height: 2px;
    width: 0;
    background: #007bff;
    left: 0;
    transition: ease 400ms;
}

.nav-personalizado:hover::after {
    width: 100%;
}


.imagemPrincipal {
    background: no-repeat url(/Imagens/background1.jpg);
    background-position: center;
    height: 25vw;
    background-size: 100%;
}

.menu-divider {
    border-style: none;
    height: 2px;
    background: #007bff;
}

.botao-personalizado{
    border-radius: 30px;
    width: 100px;
}

.botao-personalizado-imagem {
    border-radius: 30px;
}

input[type="file"]::file-selector-button {
    border-radius: 30px;
    border: solid 5px #007bff;
    background-color: #007bff;
    color: white;
}

.campo-personalizado {
    border-radius: 30px;
}

.container-personalizado{
    border-radius: 12px;
}

.fieldset-personalizado {
    padding: 10px;
    border: solid 3px rgb(248, 249, 250);
    border-radius: 12px;
}

.fieldset-personalizado legend {
    padding: 2px 4px;
}

.imagemTamanho {
    width: 183px;
    margin-right: 20px;
    height: 225px;
}

.toast {
    position: absolute;
    top: 75px;
    right: 0;
}

.toast-header {
    background-color: #28a745;
    border-bottom: none;
}

.estilo-footer p {
    margin: 10px 0;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

    .social-link:hover,
    .social-link:focus {
        background: #ddd;
        text-decoration: none;
        color: #555;
    }