@using TrabalhoInterdisciplinar.Enumeradores
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 pt-5">
    <fieldset id="areaFiltro" class="form-group fieldset-personalizado">
        <legend>Aulas</legend>
        <div class="row justify-content-between">
            <div class="col-10">
                <div>
                    <label for="situacao" class="mt-1">Situação</label>
                    <select Name="situacao" asp-items="Html.GetEnumSelectList<EnumSituacaoAula>()" class="form-control campo-personalizado" id="situacao-dropdown"> </select>
                </div>
                <div class="">
                    <label for= "materia" class="mt-1">Matéria</label>
                    <select Name="materia" asp-items="ViewBag.Materias" class="form-control campo-personalizado" id="materia-dropdown"> </select>
                </div>
                <div class="">
                    <label for= "data-inicial" class="mt-1">Data Inicial</label>
                    <input type="date" Name="data-inicial" class="form-control campo-personalizado" id="data-inicial" />
                </div>
                <div class="">
                    <label for= "data-final" class="mt-1">Data Final</label>
                    <input type="date" Name="data-final" class="form-control campo-personalizado" id="data-final" />
                </div>
            </div>
            <div class="col-2">
                <br />
                <input type="button" id="btnFiltro" class="btn btn-success botao-personalizado mr-4" value="Aplicar"
                       onclick="aplicaFiltroConsultaAvancada()" />
            </div>
        </div>
    </fieldset>

    <div id="resultadoConsulta" class="table-responsive mt-3">
    </div>

</div>

<script>

    function aplicaFiltroConsultaAvancada() {
        var vIdMateria = document.getElementById('materia-dropdown').value;
        var vDataInicial = document.getElementById('data-inicial').value;
        var vDataFinal = document.getElementById('data-final').value;
        var vSituacao = document.getElementById('situacao-dropdown').value;

        $.ajax({
            url: "/ConsultaAulas/ConsultaAulaAvancada",
            data: { dataInicial: vDataInicial, dataFinal: vDataFinal, idMateria: vIdMateria, situacao: vSituacao },
            success: function (dados) {
                if (dados.erro != undefined) {
                    alert(dados.msg);
                }
                else {
                    document.getElementById('resultadoConsulta').innerHTML = dados;
                }
            },
        });

    }
</script>
