@using TrabalhoInterdisciplinar.Enumeradores
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5 pt-5">
    <div class="row">
        <div class="col-md-2">
            <fieldset id="areaFiltro" class="form-group fieldset-personalizado">
                <legend>Aulas</legend>
                <div class="mt-2">
                    <label for="situacao" class="mt-1">Situação</label>
                    <select Name="situacao" asp-items="Html.GetEnumSelectList<EnumSituacaoAula>()" class="form-control campo-personalizado" id="situacao-dropdown"> </select>
                </div>
                <div class="mt-2">
                    <label for="materia" class="mt-1">Matéria</label>
                    <select Name="materia" asp-items="ViewBag.Materias" class="form-control campo-personalizado" id="materia-dropdown"> </select>
                </div>
                <div class="mt-2">
                    <label for="data-inicial" class="mt-1">Data Inicial</label>
                    <input type="date" Name="data-inicial" class="form-control campo-personalizado" id="data-inicial" />
                </div>
                <div class="mt-2">
                    <label for="data-final" class="mt-1">Data Final</label>
                    <input type="date" Name="data-final" class="form-control campo-personalizado" id="data-final" />
                </div>
                <div class="mt-4 d-flex justify-content-center">
                    <br />
                    <input type="button" id="btnFiltro" class="btn btn-success botao-personalizado mx-auto" value="Aplicar"
                           onclick="aplicaFiltroConsultaAvancadaAula()" />
                </div>

            </fieldset>
        </div>

        <div id="resultadoConsulta" class="table-responsive mt-3 mx-auto col-md-8">
        </div>
    </div>
</div>


<div class="container mt-5">
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const ctx = document.getElementById('myChart');


    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Futuro', 'Ativo', 'Finalizado'],
            datasets: [
                {
                    label: 'Porcentagem:',
                    data: [12,13, 11],
                    backgroundColor: ['rgba(255, 99, 132, 0.5)',
                                      'rgba(255, 159, 64, 0.5)',
                                      'rgba(153, 102, 255, 0.5)'],
                    bordercolor: ['rgba(255, 99, 132, 1)',
                                    'rgba(255, 159, 64, 1)',
                                     'rgba(153, 102, 255, 1)']
                }
            ]
        },
        options: {
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Grafico Pizza Situação'
                }
            }
        },
    });
</script>
