@using TrabalhoInterdisciplinar.Enumeradores
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5 pt-5">
    <div class="row">
        <div class="col-md-2">
            <fieldset id="areaFiltro" class="form-group fieldset-personalizado">
                <legend>Aulas</legend>
                <div class="mt-2">
                    <label for="situacao" class="mt-1">Situação</label>
                    <select Name="situacao" asp-items="Html.GetEnumSelectList<EnumSituacaoAula>()" class="form-control campo-personalizado" id="situacao-dropdown"> </select>
                </div>
                <div class="mt-2">
                    <label for="materia" class="mt-1">Matéria</label>
                    <select Name="materia" asp-items="ViewBag.Materias" class="form-control campo-personalizado" id="materia-dropdown"> </select>
                </div>
                <div class="mt-2">
                    <label for="data-inicial" class="mt-1">Data Inicial</label>
                    <input type="date" Name="data-inicial" class="form-control campo-personalizado" id="data-inicial" />
                </div>
                <div class="mt-2">
                    <label for="data-final" class="mt-1">Data Final</label>
                    <input type="date" Name="data-final" class="form-control campo-personalizado" id="data-final" />
                </div>
                <div class="mt-4 d-flex justify-content-center">
                    <br />
                    <input type="button" id="btnFiltro" class="btn btn-success botao-personalizado mx-auto" value="Aplicar"
                           onclick="aplicaFiltroConsultaAvancadaAula()" />
                </div>

            </fieldset>
        </div>

        <div id="resultadoConsulta" class="table-responsive mt-3 mx-auto col-md-8">
        </div>
    </div>
</div>
