@model List<PresencaViewModel>

<div class="container mt-5 pt-5">
    <table class="table container-personalizado shadow overflow-hidden table-hover">
        <thead class="bg-light">
            <tr>
                <th>Código Aluno</th>
                <th>Código Aula</th>
                <th>Situação</th>
                <th>Data e Hora</th>
            </tr>
        </thead>
        @foreach (var presenca in Model)
        {
            <tr>
                <td><p>@presenca.CodAluno</p></td>
                <td><p>@presenca.CodAula</p></td>
                <td><p>@presenca.Presente</p></td>
                <td><p>@presenca.DataHoraPresenca</p></td>
            </tr>
        }
    </table>
</div>
