@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 pt-5">
    <fieldset id="areaFiltro" class="form-group fieldset-personalizado">
        <legend>Presenças</legend>
        <div class="row justify-content-between">

            <div class="col-12">
                <div class="col-4 d-inline-block">
                    <label for="aluno" class="mt-1">Aluno</label>
                    <select Name="aluno" asp-items="ViewBag.Alunos" class="form-control campo-personalizado" id="aluno-dropdown"> </select>
                </div>
            </div>

            <div class="col-9 mt-2">
                <div class="col-3 d-inline-block">
                    <label for="aula" class="mt-1">Aula</label>
                    <select Name="aula" asp-items="ViewBag.Aulas" class="form-control campo-personalizado" id="aula-dropdown"> </select>
                </div>
            </div>

            <div class="col-3 text-right">
                <br />
                <input type="button" id="btnFiltro" class="btn btn-success botao-personalizado mr-4 " value="Aplicar"
                       onclick="aplicaFiltroConsultaAvancadaPresencas()" />
            </div>

        </div>
    </fieldset>

    <div id="resultadoConsulta" class="table-responsive mt-3">
    </div>

</div>
