@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5 pt-5">
    <div class="row">
        <div class="col-md-2">
            <fieldset id="areaFiltro" class="form-group fieldset-personalizado">
                <legend>Ler Presença</legend>
                <div class="mb-3 d-flex justify-content-center">
                    <a class="btn btn-primary botao-personalizado mx-auto" href="/ConsultaPresencas/LerPresenca">Ler</a>
                </div>

            </fieldset>
            <fieldset id="areaFiltro" class="form-group fieldset-personalizado">
                <legend>Presenças</legend>
                <div class="mt-2">
                    <label for="aluno" class="mt-1">Aluno</label>
                    <select Name="aluno" asp-items="ViewBag.Alunos" class="form-control campo-personalizado" id="aluno-dropdown"> </select>
                </div>
                <div class="mt-2">
                    <label for="aula" class="mt-1">Aula</label>
                    <select Name="aula" asp-items="ViewBag.Aulas" class="form-control campo-personalizado" id="aula-dropdown"> </select>
                </div>
                <div class="mt-4 d-flex justify-content-center">
                    <br />
                    <input type="button" id="btnFiltro" class="btn btn-success botao-personalizado mx-auto" value="Aplicar"
                           onclick="aplicaFiltroConsultaAvancadaPresencas()" />
                </div>

            </fieldset>
        </div>

        <div id="resultadoConsulta" class="table-responsive mt-3 mx-auto col-md-8">
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="chart-wrapper">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const ctx = document.getElementById('myChart');


    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['% de Presença na Materia de Projetos'],
            datasets: [
                {
                    label: 'Porcentagem:',
                    data: [@ViewBag.QntdDePresenca[0]],
                    backgroundColor: ['rgba(255, 99, 132, 0.5)'],
                    bordercolor: ['rgba(255, 99, 132, 1)']
                }
            ]
        },
        options: {
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Grafico Pizza Situação'
                }
            },
            responsive: true
        },
    });
</script>


<div class="wrapper">
    <div class="container">
        <div class="chart-wrapper">
            <canvas id="myChart2"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const ctx = document.getElementById('myChart2');


    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['% de Presença na Materia de Microcontroladores'],
            datasets: [
                {
                    label: 'Porcentagem:',
                    data: [@ViewBag.QntdDePresenca[1]],
                    backgroundColor: ['rgba(255, 99, 132, 0.5)'],
                    bordercolor: ['rgba(255, 99, 132, 1)']
                }
            ]
        },
        options: {
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Grafico Pizza Situação'
                }
            },
            responsive: true
        },
    });
</script>
