@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data Tables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
</head>
<div class="container-fluid mt-5 pt-5">
    <div class="row">
        <div class="col-md-2">
            <fieldset id="areaFiltro" class="form-group fieldset-personalizado">
                <legend>Ler Presença</legend>
                <div class="mb-3 d-flex justify-content-center">
                    <a class="btn btn-primary botao-personalizado mx-auto" href="/ConsultaPresencas/LerPresenca">Ler</a>
                </div>

            </fieldset>
            <fieldset id="areaFiltro" class="form-group fieldset-personalizado">
                <legend>Presenças</legend>
                <div class="mt-2">
                    <label for="aluno" class="mt-1">Aluno</label>
                    <select Name="aluno" asp-items="ViewBag.Alunos" class="form-control campo-personalizado" id="aluno-dropdown"> </select>
                </div>
                <div class="mt-2">
                    <label for="aula" class="mt-1">Aula</label>
                    <select Name="aula" asp-items="ViewBag.Aulas" class="form-control campo-personalizado" id="aula-dropdown"> </select>
                </div>
                <div class="mt-4 d-flex justify-content-center">
                    <br />
                    <input type="button" id="btnFiltro" class="btn btn-success botao-personalizado mx-auto" value="Aplicar"
                           onclick="aplicaFiltroConsultaAvancadaPresencas()" />
                </div>

            </fieldset>
        </div>

        <div id="resultadoConsulta" class="table-responsive mt-3 mx-auto col-md-8">
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="chart-wrapper-presenca">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart');
    let dataObjects = [];
    var array = @Html.Raw(Json.Serialize(@ViewBag.QntdDePresenca));
    for(var i = 0; i < array.length; i++) {
        console.log(array[i]["descricao"]);
        console.log(array[i]["valor"]);

        dataObjects.push({
            label: array[i]["descricao"],
            data: [array[i]["valor"]],
            borderWidth: 1,
            backgroundColor: random_rgba(),
            borderRadius: 5,
            borderColor: 'rgba(0, 0, 0, 0.5)'
        });
    }
    
    console.log(dataObjects);
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Porcentagem de Presenças por Matéria'],
            datasets: dataObjects
        },
        options: {
            scales: {
                y: {
                    min: 0,
                    max: 100, 
                }
            }
        }
    });

    function random_rgba() {
    var o = Math.round, r = Math.random, s = 255;
    return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
    }
</script>

                    

