@model List<PresencaViewModel>

<div class="table-container">
    <table class="table container-personalizado shadow overflow-hidden table-hover" id="table-presenca">
        <thead class="bg-light">
            <tr>
                <th>Nome Aluno</th>
                <th>Conteudo Aula</th>
                <th>Situação</th>
                <th>Data e Hora</th>
            </tr>
        </thead>
        @foreach (var presenca in Model)
        {
            <tr>
                <td><p>@presenca.AlunoNome</p></td>
                <td><p>@presenca.AulaDescricao</p></td>
                <td><p>@presenca.Presente</p></td>
                <td><p>@presenca.DataHoraPresenca</p></td>
            </tr>
        }
    </table>
</div>
